body
{
    background-color:rgb(254, 234, 244);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
     align-items: center;
    height: 100vh;
 
}

.mainContainer
{
   
    background-color:rgb(229, 182, 205);
    border-radius: 40px;
    height: 60vh;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 6px 10px;
}

h1{
    font-size: 25px;
    margin: 3px;
    padding-top: 10px;
  }

  .inputInfo
{
    
    /* border: solid black; */
    /* background-color: white; */
    border-radius: 10px;
    height: 100px;
    margin: 10px;
    margin-top: -40px;
  
    padding-left: 5px;
    align-items: center;
}

.inputAppend 
{
    width: 30px;
    height: 22px;
    justify-content:space-between;
    text-align: center;
    margin: 3px;
}

.inputText
 {  

    height: 20px;
    width: 50px;
    margin: 10px;
    padding: 5px;
    justify-content:center;
    text-align: center;
    align-items: center;
    
   }



.information
{
    border: solid black;
    background-color: aliceblue;
    border-radius: 10px;
    height: auto;
    text-align: left;
}

.information p
{
    font-size: 16px;
    margin-left: 10px;
}

#reset-btn
{
    height: 30px;
    margin: 10px;
    padding-top: 5px;
    /* display: flex; */
    justify-content:center;
  
    align-items: center;
    
}

#reset-btn:hover
{
    background: #e17cb2;
}